.book {
    box-shadow: 10px 10px 5px 5px;
    height: 250px;
    margin: auto;
    display: block;
}

.book:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 0 0 0;
}


.book-link:hover {
    color:gray;
}