

@media screen and (min-width: 700px){
    #forum-logo {
        position: relative;
        left: 20px;
        /* display: none   ; */
    }

    .footer_social, .copyright {
        position: relative;
        left: 50px;
    }
}