.videos {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/virtual/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    position: static;
    padding-top: 10rem;
    
}


.prev, .next {
    height: 100vh;
    margin-bottom: 5rem;
    width: 100%;
}

.prev:hover{
    background: rgba(0, 0, 0, 0.37);

}

.next:hover{
    background: rgba(0, 0, 0, 0.37);

}

.prev-btn {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
    left: 50%;
    right: 50%;
}

.video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    height: 60%;
    width: 80%;
}

.video-container {
    height: 100%;
}

#vid-2 {
    display: none;
}